html {
    @apply bg-light-green;
    scroll-behavior: smooth !important;
}

* :not(h1, h1 span){
    @apply font-main ;
}

input::placeholder, textarea::placeholder, .ant-select-selection-placeholder {
    font-size: 0.8rem !important;
}

li {
    list-style: none;
}

p{
    line-height: 1.7 !important;
}

/* Light button */
.light span {
    color: #31e528 !important; /* green */
}

/* Scroll to top button */
.ant-float-btn-body {
    @apply bg-green !important; /* from cyan to green */
}

.anticon-vertical-align-top {
    color: white !important;
}

/* Input */
.ant-input-outlined:hover,
.ant-input-outlined:focus,
.ant-input-outlined:focus-within,
.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector,
.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector,
.ant-pagination .ant-pagination-item-active {
    border-color: #31e528 !important; /* green */
}

.ant-select-selector,
.ant-popover .ant-popover-inner,
.ant-select-dropdown,
.ant-pagination .ant-pagination-item, .ant-pagination-item-link {
    border-radius: 18px !important;
}

.ant-pagination .ant-pagination-item-active a {
    color: #31e528 !important; /* green */
}

/* Modal */
.ant-modal .ant-modal-content {
    padding: 1rem;
    padding-top: 1.5rem;
    border-radius: 1.5rem; /* rounded-3xl */
    background-color: #f9fafb; /* bg-gray-50 */
    border: solid 0.5px #e5e7eb; /* border-gray-200 */
}

/* Switch */
.ant-switch.ant-switch-checked,
.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background: linear-gradient(to right, #00E0B5, #31e528) !important;
}


/* Select icon */
.anticon-down {
    height: 0.75rem !important; /* h-3 */
    width: 0.75rem !important; /* w-3 */
}

/* Dropdown */
.ant-dropdown-menu {
    border-radius: 1rem !important; /* rounded-2xl */
    padding: 0.75rem !important; /* p-3 */
}

.ant-dropdown-menu-item {
    border-radius: 9999px !important; /* rounded-full */
    margin-top: 0.25rem !important; /* mt-1 */
}

.ant-dropdown-menu-item-selected,
.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: #389e0d !important;
    background-color: #f6ffed !important;
}

/* Icon hover */
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #31e528 !important; /* green */
    border-color: #31e528 !important; /* green */
}

/* Spin dots */
.white-spin .ant-spin-dot-item {
    background-color: white !important;
}

.green-spin .ant-spin-dot-item {
    background-color: #31e528 !important; /* green */
}

.ant-badge{
    line-height: .5rem !important;
}

:where(.css-dev-only-do-not-override-14qglws).ant-btn-primary {
    @apply shadow-none !important; 
}